.profile__edit-button {
   background-image: url(../../../images/editButton.svg);
   background-repeat: no-repeat;
   background-size: 7.5px 7.5px cover;
   background-position: center center;
   background-color: transparent;
   width: 18px;
   height: 18px;
   border: 1px solid white;
   transition: opacity .5s;
   margin-left: 11px;
   margin-bottom: 8px;
}

.profile__edit-button:hover {
   opacity: 0.6;
   cursor: url("../../../images/cursor.svg"), default;
}

@media (min-width: 768px) {
   .profile__edit-button {
      background-size: 10px 10px cover;
      width: 24px;
      height: 24px;
      margin-left: 20px;
      margin-top: 15px;
   }
}