.profile__edit-button {
   background-image: url(../../../images/editButton.svg);
   background-repeat: no-repeat;
   background-size: 7.5px 7.5px;
   background-position: center center;
   background-color: black;
   width: 18px;
   height: 18px;
   border: 1px solid white;
   position: absolute;
   margin-top: 7px;
   margin-left: 10px;
   transition: opacity .5s;
}

.profile__edit-button:hover {
   opacity: 0.6;
}