.header__logo {
   background-image: url(../../../images/logo.svg);
   background-size: 103.74px 24.4px;
   background-repeat: no-repeat;
   width: 100%;
   padding-top: 24px;
   margin-left: 26px;
}

@media (min-width: 768px) {
   .header__logo {
      background-size: 142px 33px;
      padding-top: 32px;
      margin-left: 0;
   }
}