.profile__add-button {
   background-image: url(../../../images/addButton.png);
   background-position: center center;
   background-color: black;
   border: 2px solid white;
   border-radius: 2px;
   background-repeat: no-repeat;
   width: 282px;
   height: 50px;
   margin-top: 33px;
   transition: opacity .5s;
}

.profile__add-button:hover {
   opacity: 0.6;
}

@media (min-width: 768px) {
   .profile__add-button {
      grid-area: add-button;
      width: 150px;
      margin-top: 0px;
      background-size: 22px 22px;
   }
}