.card__like-button {
   background-image: url(../../../images/like.svg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 22px;
   height: 19px;
   border: none;
   background-color: white;
   margin-top: 30.5px;
   margin-right: 20px;
   transition: opacity .5s;
}

.card__like-button:hover {
   opacity: 0.6;
}

.card__like-button:active {
   background-image: url(../../../images/like-active.png);
}