.edit-form__title {
   max-width: 238px;
   width: 100%;
   font-weight: 900;
   font-size: 18px;
   line-height: 21.78px;
   color: black;
   margin-top: 26px;
   margin-bottom: 44px;
}

@media (min-width: 768px) {
   .edit-form__title {
      font-size: 24px;
      line-height: 29.05px;
      max-width: 330px;
      margin-left: -28px;
      margin-top: 34px;
  }
}