.profile__name {
   color: white;
   font-weight: 500;
   font-size: 27px;
   line-height: 32.68px;
   margin: 0;
   margin-left: 26px;
   margin-top: 27px;
   max-width: 282px;
   width: 100%;
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

@media (min-width: 768px) {
   .profile__name {
      text-align: start;
      grid-area: name;
      line-height: 48px;
      font-size: 42px;
      max-width: 294px;
      margin-top: 22px;
      margin-left: 29px;
   }
}