.profile__description {
   color: white;
   margin: 0;
   margin-top: 6px;
   font-weight: 400;
   font-size: 14px;
   line-height: 16.94px;
   max-width: 282px;
   width: 100%;
   text-align: center;
}

@media (min-width: 768px) {
   .profile__description {
      grid-area: description;
   }
}