.popup__close-button {
   position: absolute;
   background-image: url(../../../images/Close.svg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   border: none;
   top: -36px;
   right: 0px;
   background-color: transparent;
   transition: opacity .5s;
}

.popup__close-button:hover {
   opacity: .6;
}

@media (min-width: 768px) {
   .popup__close-button {
      width: 32px;
      height: 32px;
      top: -40px;
      right: -40px;
   }
}