.edit-form__input-form {
   color: black;
   font-weight: 400;
   font-size: 14px;
   line-height: 16.94px;
   border: none;
   outline: none;
   border-bottom: 1px solid rgba(0,0,0,0.2);
   max-width: 238px;
   width: 100%;
   padding: 0;
   margin-top: 30px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   padding-bottom: 9px;
   font-family: "Inter", Arial, sans-serif;
   display: flex;
}

@media (min-width: 584px) {
   .edit-form__input-form {
      max-width: 358px;
      margin-top: 32px;
      padding-bottom: 7px;
   }
}