.footer {
   max-width: 880px;
   margin: 0 auto;
   padding-bottom: 21px;
   padding-top: 17px;
}

@media (min-width: 768px) {
   .footer {
      padding-top: 32px;
      padding-bottom: 40px;
   }
}